@import "tailwindcss";
@import "./variables.css";
@import "./utilities.css";
@import "./animations.css";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}

::selection {
  background: var(--color-secondary);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}
